AI-Powered Support Ticket Triage System (1).json
{
  "name": "AI-Powered Support Ticket Triage System",
  "nodes": [
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "a2ba4de4-7d9b-4b8f-8e85-ac81cfb93673",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "dNMQBD8UJ5FVmjuI",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"urgency\":\"HIGH\",\"category\":\"billing\",\"reply\":\"...\",\"summary\":\"...\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        224
      ],
      "id": "99d6a2c4-9ec5-4cf4-8e19-d2d698c3b6aa",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/support-ticket",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "64eafb86-6e49-42a8-a295-7b02fc204d5c",
      "name": "Webhook trigger",
      "webhookId": "84915bb0-7120-4c58-825a-e6d155b44334"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ticketMessage }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a customer support triage assistant.\n\nAnalyze the customer message and return ONLY valid JSON with exactly these 4 keys:\n\n1. \"urgency\": \"HIGH\" or \"LOW\"\n   - HIGH = payment issues, account locked, data loss, service down\n   - LOW = general questions, feature requests, feedback\n\n2. \"category\": one of \"billing\", \"technical\", \"account\", \"general\"\n\n3. \"reply\": A professional, empathetic email reply to the customer. \n   Start with \"Hi [customer name],\" — use the name from context.\n   \n4. \"summary\": A 1-sentence internal summary for the support team.\n\nReturn ONLY the JSON object. No markdown, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "f0bc6da6-6eed-439d-94f7-8e464bd73cbf",
      "name": "AI Agent node Classify urgency + write draft reply"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5380b15-ccdf-4ad5-b0f2-68bd8d7ccd53",
              "name": "customerName",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "9cad1419-6e37-4139-993d-0847998ac71a",
              "name": "customerEmail",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "50d43a7c-5d4c-4566-9f8a-a0898e72a171",
              "name": "ticketSubject",
              "value": "={{ $json.body.subject }}",
              "type": "string"
            },
            {
              "id": "2f5bdb19-7f53-4c39-a6ba-f3c88e2699d2",
              "name": "ticketMessage",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "9b10c89e-7562-40ca-9d1b-4d237d5f2779",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5c81e227-832f-454a-bd21-0d31063afe63",
      "name": "Set node Extract & rename incoming fields cleanly"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "293acce2-4568-4dab-a6a4-fb40f259ac38",
              "leftValue": "={{ $json.output.urgency }}",
              "rightValue": "HIGH",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        0
      ],
      "id": "4a16eaa3-e8e6-4271-89d2-e11feded5b86",
      "name": "IF node Route by urgency level"
    },
    {
      "parameters": {
        "sendTo": "manthanr141@gmail.com",
        "subject": "={{ $('Set node Extract & rename incoming fields cleanly').item.json.ticketSubject }}",
        "message": "={{ $json.output.reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        96
      ],
      "id": "8d1d77fe-6047-45fe-ac9f-70e144e56013",
      "name": "Gmail node (LOW branch)",
      "webhookId": "7dcce7db-4d5f-441b-b308-e9cc636e2f11",
      "credentials": {
        "gmailOAuth2": {
          "id": "zMZammMZBmo2kWeA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EMppw-AkKmo1c9XnSfgvuKedF_7Yw8aejrA46XPgsOs",
          "mode": "list",
          "cachedResultName": "Resume Screener Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EMppw-AkKmo1c9XnSfgvuKedF_7Yw8aejrA46XPgsOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 89379885,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EMppw-AkKmo1c9XnSfgvuKedF_7Yw8aejrA46XPgsOs/edit#gid=89379885"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now}}",
            "Name": "={{ $('Set node Extract & rename incoming fields cleanly').item.json.customerName }}",
            "Email": "={{ $('Set node Extract & rename incoming fields cleanly').item.json.customerEmail }}",
            "Subject": "={{ $('Set node Extract & rename incoming fields cleanly').item.json.ticketSubject }}",
            "Category": "={{ $('IF node Route by urgency level').item.json.output.category }}",
            "Urgency": "={{ $('IF node Route by urgency level').item.json.output.urgency }}",
            "Summary": "={{ $('IF node Route by urgency level').item.json.output.summary }}",
            "AI Reply": "={{ $('IF node Route by urgency level').item.json.output.reply }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reply",
              "displayName": "AI Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        16
      ],
      "id": "346f0798-9783-4ce4-b44f-d3fbc5020dd3",
      "name": "Google Sheets node Log every ticket for reporting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INJbWZkJ9W16WtRt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AV307FZLY",
          "mode": "list",
          "cachedResultName": "support-urgent"
        },
        "text": "=🚨 *HIGH urgency ticket* \n\n*From:* {{ $json.customerName }} ({{ $json.customerEmail }}) \n*Category:* {{ $json.output.category }} \n*Summary:* {{ $json.output.summary }} \n*Received:* {{ $json.receivedAt }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        976,
        -96
      ],
      "id": "ad3b6b27-d4da-4d21-a36f-60dae5bf6b10",
      "name": " Slack node (HIGH branch)",
      "webhookId": "e92404fb-b245-4832-a520-8fa2dbe01e6d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "c0cylTGgLCX5kgJX",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent node Classify urgency + write draft reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent node Classify urgency + write draft reply",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook trigger": {
      "main": [
        [
          {
            "node": "Set node Extract & rename incoming fields cleanly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent node Classify urgency + write draft reply": {
      "main": [
        [
          {
            "node": "IF node Route by urgency level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set node Extract & rename incoming fields cleanly": {
      "main": [
        [
          {
            "node": "AI Agent node Classify urgency + write draft reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF node Route by urgency level": {
      "main": [
        [
          {
            "node": " Slack node (HIGH branch)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail node (LOW branch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail node (LOW branch)": {
      "main": [
        [
          {
            "node": "Google Sheets node Log every ticket for reporting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Slack node (HIGH branch)": {
      "main": [
        [
          {
            "node": "Google Sheets node Log every ticket for reporting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ec3e59e1-9f99-435d-85e5-4cb772a47b10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c96500292f648d54ead11231dfb42ce833f19670d94631a37641232302e0c590"
  },
  "id": "1jlimjHg4znHGMOq",
  "tags": []
}