AI press release and journalist outreach automation/AI press release and journalist outreach automation.json
{
  "name": "AI press release and journalist outreach automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8",
          "mode": "list",
          "cachedResultName": "AI press release and journalist outreach automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "News_Trigger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        784,
        -528
      ],
      "id": "9d16c197-a93f-47c8-a7a7-3eec09d623b4",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "dgP9j24Jk0fX5lVf",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        -336
      ],
      "id": "d4a0a417-5cdf-46d2-8601-0b80bd9120a3",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YCawzcwbZd7VllSz",
          "name": "OpenRouter account for AI Journal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst campaignId = `PR_${Date.now()}_${Math.random().toString(36).substr(2,6).toUpperCase()}`;\nreturn {\n  json: {\n    campaign_id: campaignId,\n    company_name: (item.company_name || '').trim(),\n    announcement_type: (item.announcement_type || 'General Announcement').trim(),\n    details: (item.details || '').trim(),\n    target_industry: (item.target_industry || 'Technology').trim(),\n    tone: (item.tone || 'professional').toLowerCase().trim(),\n    spokesperson: (item.spokesperson || '').trim(),\n    website: (item.website || '').trim(),\n    contact_email: (item.contact_email || '').trim(),\n    embargo_date: item.embargo_date || null,\n    created_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -528
      ],
      "id": "622fb0ca-bc88-4b59-b80c-68e536d145f1",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=COMPANY: {{ $json.company_name || \"Unknown Company\" }}\nTYPE: {{ $json.announcement_type || \"Announcement\" }}\nDETAILS: {{ $json.details || \"No details provided\" }}\nINDUSTRY: {{ $json.target_industry || \"General\" }}\nTONE: {{ $json.tone || \"Professional\" }}\nSPOKESPERSON: {{ $json.spokesperson || \"Company Representative\" }}\nWEBSITE: {{ $json.website || \"Not provided\" }}\nEMBARGO: {{ $json.embargo_date || \"Immediate Release\" }}",
        "options": {
          "systemMessage": "=You are a veteran PR copywriter with 15+ years experience.\n\nSTRICT RULES:\n- Return ONLY valid JSON\n- Do NOT include markdown (no ```json)\n- Do NOT include explanations\n- Do NOT include any text before or after JSON\n- Ensure JSON is COMPLETE and VALID\n- Never return empty output\n\nIf unsure, still return a valid JSON structure.\n\nWrite in AP Style. Avoid buzzwords.\n\nOutput must strictly follow the schema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1200,
        -528
      ],
      "id": "d006bdc1-f5c4-42ef-bd86-7abf32127c95",
      "name": "Press Release Generator (AI Agent)"
    },
    {
      "parameters": {
        "jsCode": "let content = $json.output || $json.text || \"\";\n\n// Remove markdown if exists\ncontent = content.replace(/```json|```/g, \"\").trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  return [{\n    json: {\n      error: \"Invalid JSON from AI\",\n      raw: content\n    }\n  }];\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -528
      ],
      "id": "5a0f58a2-0d2d-4b90-8824-434082c0a33d",
      "name": "Parse Press Release (Code)"
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($('Normalize Input').item.json.target_industry+ ' journalist reporter') }}&hl=en-US&gl=US&ceid=US:en",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1760,
        -528
      ],
      "id": "750a8adb-5aba-4d42-9609-12d4178deaec",
      "name": " Google News RSS Fetch (HTTP Request)"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all();\nconst xmlString = items[0].json.data || items[0].json.body || '';\nconst articleMatches = xmlString.match(/<item>([\\s\\S]*?)<\\/item>/g) || [];\nconst leads = articleMatches.slice(0, 20).map((block, i) => {\n  const title = ((block.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1] || '')\n    .replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim();\n  const link = ((block.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1] || '').trim();\n  const source = ((block.match(/<source[^>]*>([\\s\\S]*?)<\\/source>/) || [])[1] || '')\n    .replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim();\n  return { json: {\n    lead_index: i + 1, article_title: title, publication: source,\n    article_url: link, source_type: 'google_news_rss',\n    name: '', email: '', beat: ''\n  }};\n});\nreturn leads.length > 0 ? leads : [{ json: { no_results: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -624
      ],
      "id": "4acc1666-483d-4669-8d87-7634633adf88",
      "name": "Parse RSS to Journalist Leads (Code)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8",
          "mode": "list",
          "cachedResultName": "AI press release and journalist outreach automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1930018968,
          "mode": "list",
          "cachedResultName": "Journalist_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8/edit#gid=1930018968"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        -400
      ],
      "id": "8e957406-f889-49b7-b649-d79717c47bb1",
      "name": "Fetch Journalist Seed DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twmxeUbOfErGsbbM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        -528
      ],
      "id": "2b973e26-ffe1-4862-9cd1-a55850131ca5",
      "name": "Merge"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        -176
      ],
      "id": "e11a2e47-f513-45aa-aab6-c028b06aeb4f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-12b-v2-vl:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        96
      ],
      "id": "380aaadc-b402-4bbd-b081-51f8cfef1430",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "YCawzcwbZd7VllSz",
          "name": "OpenRouter account for AI Journal"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Score relevance of this journalist to this announcement (0-100).\n\nANNOUNCEMENT:\nCompany: {{ $('Normalize Input').item.json.company_name }}\nType: {{ $('Normalize Input').item.json.announcement_type }}\nIndustry: {{ $('Normalize Input').item.json.target_industry }}\nSummary: {{ $('Normalize Input').item.json.details }}\n\nJOURNALIST:\nName: {{ $json.name || $json.journalist_name || 'Unknown' }}\nPublication: {{ $json.publication }}\nBeat: {{ $json.beat || $json.relevance_tags || 'General Tech' }}\nArticle (if RSS): {{ $json.article_title || 'N/A' }}\n\nReturn ONLY:\n{\n  \"relevance_score\": <integer 0-100>,\n  \"match_reason\": \"<one sentence>\",\n  \"suggested_angle\": \"<specific angle for this journalist's beat>\"\n}",
        "options": {
          "systemMessage": "You are a PR targeting specialist. Output ONLY valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        912,
        -80
      ],
      "id": "8ddd3fdc-265c-4a3d-9975-2c08da310cde",
      "name": "Journalist Relevance Scorer"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet scoreData = { relevance_score: 0, match_reason: '', suggested_angle: '' };\ntry {\n  scoreData = JSON.parse((item.output || '').replace(/```json|```/g, '').trim());\n} catch(e) {}\nreturn {\n  json: { ...item, relevance_score: Number(scoreData.relevance_score) || 0,\n    match_reason: scoreData.match_reason || '',\n    suggested_angle: scoreData.suggested_angle || '' }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -80
      ],
      "id": "9b81c95a-ecb9-4840-a3ab-38aaad244cbf",
      "name": "Parse Relevance Score "
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a personalized pitch email.\n\nPRESS RELEASE HEADLINE:{{ $node[\"Parse Press Release (Code)\"].json.headline }}\nCOMPANY: {{ $node[\"Normalize Input\"].json.company_name }}\nKEY DETAILS: {{ $node[\"Normalize Input\"].json.details }}\nSPOKESPERSON: {{ $node[\"Normalize Input\"].json.spokesperson }}\nCONTACT EMAIL:{{ $node[\"Normalize Input\"].json.contact_email }}\nTONE: {{ $node[\"Normalize Input\"].json.tone }}\n\nJOURNALIST NAME: {{ $node[\"Fetch Journalist Seed DB\"].json.name }}\nPUBLICATION: {{ $node[\"Fetch Journalist Seed DB\"].json.publication }}\nBEAT: {{ $node[\"Fetch Journalist Seed DB\"].json.beat }}\nSUGGESTED ANGLE: {{ $json.suggested_angle }}\n\nRules: Subject under 10 words. Body under 150 words. \nReference their specific beat. Single CTA: reply to this email.\nNever use \"I hope this finds you well\" or \"I'm reaching out.\"\n\nReturn ONLY:\n{\n  \"subject_line\": \"<under 10 words>\",\n  \"email_body\": \"<under 150 words, \\\\n for line breaks>\",\n  \"personalization_note\": \"<what was personalized>\"\n}",
        "options": {
          "systemMessage": "You write pitch emails journalists actually open. Short, specific, no generic PR language. ONLY valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1904,
        -96
      ],
      "id": "7fe48a49-1ca6-4728-9b98-e70dfdc9d465",
      "name": "Email Personalization AI"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1904,
        80
      ],
      "id": "74c44fe3-89fd-4022-89f1-6c1a8ff9bad5",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "YCawzcwbZd7VllSz",
          "name": "OpenRouter account for AI Journal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet rawOutput = item.output || item.text || '';\nlet emailData = {};\n\n// 🧹 Step 1: Clean raw output safely\nif (typeof rawOutput === 'string') {\n  rawOutput = rawOutput\n    .replace(/```json|```/g, '')\n    .trim();\n}\n\n// 🛡 Step 2: Safe JSON parse\ntry {\n  emailData = JSON.parse(rawOutput);\n} catch (e) {\n  emailData = {\n    subject_line: `Press Release: ${item.company_name || ''}`,\n    email_body: 'Please see attached press release.',\n    personalization_note: '',\n    parse_error: true,\n    raw_output: rawOutput // 🔥 for debugging\n  };\n}\n\n// ✨ Step 3: Clean fields\nconst subject = (emailData.subject_line || '').trim();\nconst body = (emailData.email_body || '').trim();\nconst note = (emailData.personalization_note || '').trim();\n\n// 📧 Step 4: Better email validation\nconst recipientEmail = (\n  item.email ||\n  item.journalist_email ||\n  ''\n).trim();\n\nconst isValidEmail = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(recipientEmail);\n\n// 👤 Step 5: Name fallback\nconst recipientName =\n  item.name ||\n  item.journalist_name ||\n  'there';\n\n// 🚀 Final output\nreturn {\n  json: {\n    ...item,\n\n    subject_line: subject,\n    email_body: body,\n    personalization_note: note,\n\n    recipient_email: recipientEmail,\n    recipient_name: recipientName,\n\n    email_valid: isValidEmail && subject.length > 0,\n\n    // 🔥 Debug flags\n    parse_error: emailData.parse_error || false\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -96
      ],
      "id": "b2db6372-67eb-4250-8e72-113c51c80ffb",
      "name": "Parse Pitch Email"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst all = $input.all();\nconst sent = all.filter(i => i.json.email_status === 'sent').length;\nconst skipped = all.filter(i => i.json.email_status === 'skipped').length;\nconst avg = all.reduce((s,i) => s + (i.json.relevance_score||0), 0) / (all.length||1);\nreturn { json: {\n  campaign_id: all[0]?.json?.campaign_id || '',\n  total_journalists_scored: all.length,\n  emails_sent: sent, emails_skipped: skipped,\n  average_relevance_score: Math.round(avg * 10) / 10,\n  run_completed_at: new Date().toISOString(),\n  status: sent > 0 ? 'success' : 'no_emails_sent'\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -272
      ],
      "id": "e95f76ff-5ab1-4c0a-bf65-bd6062974d1d",
      "name": "Execution Summary"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8",
          "mode": "list",
          "cachedResultName": "AI press release and journalist outreach automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1245546719,
          "mode": "list",
          "cachedResultName": "Outreach_Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8/edit#gid=1245546719"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_id": "={{ $('Normalize Input').item.json.campaign_id }}",
            "company_name": "={{ $('Normalize Input').item.json.company_name }}",
            "announcement_type": "={{ $('Normalize Input').item.json.announcement_type }}",
            "journalist_name": "={{ $json.recipient_name }}",
            "journalist_email": "={{ $json.recipient_email }}",
            "publication": "={{ $json.publication }}",
            "relevance_score": "={{ $json.relevance_score }}",
            "subject_line": "={{ $json.subject_line }}",
            "email_body_preview": "={{ ($json.email_body || '').substring(0, 200) }}",
            "email_status": "={{ $json.email_valid ? 'sent' : 'skipped' }}",
            "skip_reason": "={{ $json.email_valid ? '' : ($json.recipient_email ? 'invalid_email' : 'missing_email') }}",
            "sent_at": "={{ $now.toISO() }}",
            " open_status": "=pending",
            "reply_status": "=pending",
            "followup_sent": "=FALSE",
            " followup_count": "=0",
            "pr_headline": "={{ $('Parse Press Release').item.json.pr_headline }}",
            "personalization_note": "={{ $json.personalization_note }}",
            "last_followup_at": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "announcement_type",
              "displayName": "announcement_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "journalist_name",
              "displayName": "journalist_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "journalist_email",
              "displayName": "journalist_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publication",
              "displayName": "publication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "relevance_score",
              "displayName": "relevance_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject_line",
              "displayName": "subject_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_body_preview",
              "displayName": "email_body_preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skip_reason",
              "displayName": "skip_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " open_status",
              "displayName": " open_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_status",
              "displayName": "reply_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " followup_count",
              "displayName": " followup_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_followup_at",
              "displayName": "last_followup_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pr_headline",
              "displayName": "pr_headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "personalization_note",
              "displayName": "personalization_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        -32
      ],
      "id": "0d3fce11-5827-4045-bbea-e29012497637",
      "name": "Log to Outreach Tracker",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twmxeUbOfErGsbbM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=storysnippents@gmail.com",
        "subject": "={{ $json.subject_line }}",
        "message": "={{ $json.email_body.replace(/\\n/g, '<br>') }}",
        "options": {
          "replyTo": "={{ $('Normalize Input').item.json.contact_email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2832,
        -112
      ],
      "id": "c6198354-e7db-406e-a724-8be9168c925e",
      "name": "Send Pitch Email ",
      "webhookId": "015acd9b-57d6-4604-92ed-bbab27dbdb38",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "gmailOAuth2": {
          "id": "7XNYGaBFEcVkLMju",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da56b7d8-d27f-4257-91bb-ffa8e4d29371",
              "leftValue": "={{ $json.email_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        -96
      ],
      "id": "b9ca78fe-4479-45dd-b374-4332fc176947",
      "name": "Check Email Valid "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a8e54e2-bdd7-4ac1-85de-b848a3fd61a6",
              "leftValue": "={{ $json.relevance_score }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -80
      ],
      "id": "1f37f49b-3e92-4bf5-ac2c-12368844072e",
      "name": "Filter Score >= 60 "
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8",
          "mode": "list",
          "cachedResultName": "AI press release and journalist outreach automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1245546719,
          "mode": "list",
          "cachedResultName": "Outreach_Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTOQnzKsUaADiSifm5r4Pc64A0K5Ewn80Ek-wSLz5I8/edit#gid=1245546719"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_id": "={{ $('Normalize Input').item.json.campaign_id }}",
            "company_name": "={{ $('Normalize Input').item.json.company_name }}",
            "announcement_type": "={{ $('Normalize Input').item.json.announcement_type }}",
            "journalist_name": "={{ $json.recipient_name }}",
            "journalist_email": "={{ $json.recipient_email }}",
            "publication": "={{ $json.publication }}",
            "relevance_score": "={{ $json.relevance_score }}",
            "subject_line": "={{ $json.subject_line }}",
            "email_body_preview": "={{ ($json.email_body || '').substring(0, 200) }}",
            "email_status": "={{ $json.email_valid ? 'sent' : 'skipped' }}",
            "skip_reason": "={{ $json.email_valid ? '' : ($json.recipient_email ? 'invalid_email' : 'missing_email') }}",
            "sent_at": "={{ $now.toISO() }}",
            " open_status": "=pending",
            "reply_status": "=pending",
            "followup_sent": "=FALSE",
            " followup_count": "=0",
            "pr_headline": "={{ $('Parse Press Release').item.json.pr_headline }}",
            "personalization_note": "={{ $json.personalization_note }}",
            "last_followup_at": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "announcement_type",
              "displayName": "announcement_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "journalist_name",
              "displayName": "journalist_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "journalist_email",
              "displayName": "journalist_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publication",
              "displayName": "publication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "relevance_score",
              "displayName": "relevance_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject_line",
              "displayName": "subject_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_body_preview",
              "displayName": "email_body_preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skip_reason",
              "displayName": "skip_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " open_status",
              "displayName": " open_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_status",
              "displayName": "reply_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " followup_count",
              "displayName": " followup_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_followup_at",
              "displayName": "last_followup_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pr_headline",
              "displayName": "pr_headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "personalization_note",
              "displayName": "personalization_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        -32
      ],
      "id": "be36e639-e2e0-4e65-b897-16e659a3afe9",
      "name": "Log to Outreach Tracker2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twmxeUbOfErGsbbM",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Press Release Generator (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Press Release Generator (AI Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Press Release Generator (AI Agent)": {
      "main": [
        [
          {
            "node": "Parse Press Release (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Press Release (Code)": {
      "main": [
        [
          {
            "node": " Google News RSS Fetch (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Google News RSS Fetch (HTTP Request)": {
      "main": [
        [
          {
            "node": "Parse RSS to Journalist Leads (Code)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Journalist Seed DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS to Journalist Leads (Code)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Journalist Seed DB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execution Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Journalist Relevance Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Journalist Relevance Scorer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Journalist Relevance Scorer": {
      "main": [
        [
          {
            "node": "Parse Relevance Score ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Relevance Score ": {
      "main": [
        [
          {
            "node": "Filter Score >= 60 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Email Personalization AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Personalization AI": {
      "main": [
        [
          {
            "node": "Parse Pitch Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pitch Email": {
      "main": [
        [
          {
            "node": "Check Email Valid ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pitch Email ": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Valid ": {
      "main": [
        [
          {
            "node": "Send Pitch Email ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Outreach Tracker2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Score >= 60 ": {
      "main": [
        [
          {
            "node": "Email Personalization AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Outreach Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f3ed0bc-f37b-4f1f-a762-f133f37bb34a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc74f12774e3871a4e36f0d67c6934d039e29c5abcb25a6144d9e7b521426c15"
  },
  "id": "xZ4CcXpJqKESR3Gr",
  "tags": []
}