AI Email Summarizer & Auto-Responder/AI Email Summarizer & Auto-Responder.json
{
  "name": "AI Email Summarizer & Auto-Responder",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false,
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -32
      ],
      "id": "6b2e8831-7c30-4c02-9981-2c4e28afb0f8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XNYGaBFEcVkLMju",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.1-405b-instruct:free",
        "options": {
          "maxTokens": 300,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        112,
        192
      ],
      "id": "fca5f21e-4204-4c57-848b-d31edb66b635",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YCawzcwbZd7VllSz",
          "name": "OpenRouter account for AI Journal"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.1-405b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        720,
        192
      ],
      "id": "4581e29e-1e7b-44cc-861e-68c085832621",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "YCawzcwbZd7VllSz",
          "name": "OpenRouter account for AI Journal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const email = item.json;\n\n  return {\n    json: {\n      emailId: email.id,\n      threadId: email.threadId || '',\n      \n      from: email.From || '',\n      fromEmail: email.From?.match(/[\\w.-]+@[\\w.-]+/)?.[0] || '',\n      to: email.To || '',\n\n      subject: email.Subject || 'No Subject',\n\n      // Gmail snippet acts as preview/body\n      body: email.snippet || '',\n\n      // Convert Gmail internalDate (ms) → ISO string\n      receivedDate: email.internalDate\n        ? new Date(Number(email.internalDate)).toISOString()\n        : new Date().toISOString(),\n\n      labels: email.labels?.map(l => l.name) || [],\n\n      originalData: email\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -32
      ],
      "id": "f2cb2ec4-abbe-474d-b9b4-5843cb0cfbb7",
      "name": "Parse Gmail content"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email From: {{$json.from}}\nSubject: {{$json.subject}}\nBody: {{$json.body}}\nTimestamp: {{ $json.receivedDate }}\n",
        "options": {
          "systemMessage": "You are an expert email analyst.\n\nYour tasks:\n1. Summarize the email in 3–5 concise bullet points covering:\n   - Main purpose\n   - Key requests or questions\n   - Urgency level\n   - Required action\n\n2. Decide whether this email is SAFE to auto-reply with a neutral acknowledgement.\n   - Reply \"YES\" if the email only requires acknowledgment (e.g., internship application, contact inquiry, information request).\n   - Reply \"NO\" if the email involves decisions, hiring outcomes, complaints, finance, legal matters, or emotional/personal issues.\n\nCRITICAL OUTPUT RULE:\nReturn the output in the EXACT format below.\nDo NOT add extra text, explanations, or markdown outside this structure.\n\nFORMAT:\n\nEmail From: <same as input>\nSubject: <same as input>\nBody: <same as input>\nTimestamp: <same as input>\n\nEmail Summary:\n- <bullet point 1>\n- <bullet point 2>\n- <bullet point 3>\n- <bullet point 4>\n\nAuto Reply Allowed: YES or NO\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        112,
        -32
      ],
      "id": "7af7f409-df26-4c6b-b79f-e76c1744eb18",
      "name": "Summay of Mail"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const text = item.json.output || '';\n\n  // ---------- FROM ----------\n  const fromMatch = text.match(/Email From:\\s*(.*)/i);\n  const from = fromMatch ? fromMatch[1].trim() : '';\n\n  // ---------- SUBJECT ----------\n  const subjectMatch = text.match(/Subject:\\s*(.*)/i);\n  const subject = subjectMatch ? subjectMatch[1].trim() : '';\n\n  // ---------- BODY ----------\n  const bodyMatch = text.match(\n    /Body:\\s*([\\s\\S]*?)(?:\\nTimestamp:)/i\n  );\n  const body = bodyMatch ? bodyMatch[1].trim() : '';\n\n  // ---------- TIMESTAMP ----------\n  const timestampMatch = text.match(/Timestamp:\\s*(.*)/i);\n  const timestamp = timestampMatch ? timestampMatch[1].trim() : '';\n\n  // ---------- SUMMARY ----------\n  const summaryMatch = text.match(\n    /Email Summary:\\s*([\\s\\S]*?)(?:\\nAuto Reply Allowed:|$)/i\n  );\n  const summary = summaryMatch ? summaryMatch[1].trim() : '';\n\n  // ---------- AUTO REPLY DECISION ----------\n  const autoReplyMatch = text.match(/Auto Reply Allowed:\\s*(YES|NO)/i);\n  const autoReplyAllowed = autoReplyMatch\n    ? autoReplyMatch[1].toUpperCase()\n    : 'NO';\n\n  return {\n    json: {\n      from,\n      subject,\n      body,\n      timestamp,\n      summary,\n      autoReplyAllowed\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -32
      ],
      "id": "42cfeb4f-f6c2-4a2e-8925-f6245dc5ebb4",
      "name": "Parsed Summary"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From: {{ $json.from }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}\nSummary: {{ $json.summary }}\nTimestamp: {{ $json.timestamp }}\nAutoReplyAllowed: {{ $json.autoReplyAllowed }}\n\nDraft a professional reply following the rules.\n",
        "options": {
          "systemMessage": "You are a professional email assistant.\n\nYour task:\n- Draft a polite, concise, and context-aware professional email reply.\n- Match the tone of the original email.\n- Keep the reply under 150 words unless the topic is complex.\n\n\nCRITICAL OUTPUT RULE:\nReturn the output in the EXACT structured format below.\nDo NOT add explanations, markdown, headings, or extra text.\n\nFORMAT:\nFrom: <same as input> and the original mail also\nSubject: <same as input>\nBody: <same as input>\nSummary: <same as input>\nTimestamp:  <same as input>\nAutoReplyAllowed: <same as input>\nDraft Reply: <your drafted reply only>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        720,
        -32
      ],
      "id": "f2870abf-6d73-4d01-a21a-b9c2d34e48b5",
      "name": "Draft reply to be sent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const text = item.json.output || '';\n\n  // ---------- FROM ----------\n  const fromMatch = text.match(/From:\\s*(.*)/i);\n  const from = fromMatch ? fromMatch[1].trim() : '';\n\n  // ---------- SUBJECT ----------\n  const subjectMatch = text.match(/Subject:\\s*(.*)/i);\n  const subject = subjectMatch ? subjectMatch[1].trim() : '';\n\n  // ---------- BODY ----------\n  const bodyMatch = text.match(\n    /Body:\\s*([\\s\\S]*?)(?:\\nSummary:|\\nTimestamp:|\\nAutoReplyAllowed:|$)/i\n  );\n  const body = bodyMatch ? bodyMatch[1].trim() : '';\n\n  // ---------- SUMMARY ----------\n  const summaryMatch = text.match(\n    /Summary:\\s*([\\s\\S]*?)(?:\\nTimestamp:|\\nAutoReplyAllowed:|\\nDraft Reply:|$)/i\n  );\n  const summary = summaryMatch ? summaryMatch[1].trim() : '';\n\n  // ---------- TIMESTAMP ----------\n  const timestampMatch = text.match(/Timestamp:\\s*(.*)/i);\n  const timestamp = timestampMatch ? timestampMatch[1].trim() : '';\n\n  // ---------- AUTO REPLY ALLOWED ----------\n  const autoReplyMatch = text.match(/AutoReplyAllowed:\\s*(YES|NO)/i);\n  const autoReplyAllowed = autoReplyMatch\n    ? autoReplyMatch[1].toUpperCase()\n    : 'NO';\n\n  // ---------- DRAFT REPLY ----------\n  const replyMatch = text.match(/Draft Reply:\\s*([\\s\\S]*)$/i);\n  const reply = replyMatch ? replyMatch[1].trim() : '';\n\n  return {\n    json: {\n      from,\n      subject,\n      body,\n      summary,\n      timestamp,\n      autoReplyAllowed,\n      reply\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -32
      ],
      "id": "5847cef3-252e-4c29-b092-8e6f662caac3",
      "name": "Parsed reply"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo",
          "mode": "list",
          "cachedResultName": "AI Email Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "From": "={{ $json.from }}",
            "Subject": "={{ $json.subject }}",
            "Summary": "={{ $json.summary }}",
            "Draft Reply": "={{ $json.reply }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Status": "Pending Review",
            "AutoReply": "={{ $json.autoReplyAllowed }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Draft Reply",
              "displayName": "Draft Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AutoReply",
              "displayName": "AutoReply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        -32
      ],
      "id": "268100a0-9c49-484e-ab7f-057831a628eb",
      "name": "Store data in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twmxeUbOfErGsbbM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5e7c191-f45a-4e63-8d39-4807a603dfb6",
              "leftValue": "={{ $json.AutoReply }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        -32
      ],
      "id": "4e997e53-80f9-49f0-8e6d-6ae3c0ef4cdd",
      "name": "Decide to sent autoreply or not"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo",
          "mode": "list",
          "cachedResultName": "AI Email Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "From",
              "lookupValue": "={{ $json.From }}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "={{ $json.Status }}"
            },
            {
              "lookupColumn": "Timestamp",
              "lookupValue": "={{ $json.Timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        -128
      ],
      "id": "ef9801e0-c9dc-4b2c-9676-1adc924c11ab",
      "name": "get data from sheet to send auto reply",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twmxeUbOfErGsbbM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo",
          "mode": "list",
          "cachedResultName": "AI Email Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "=to be revied manually",
            "Timestamp": "={{ $json.Timestamp }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Draft Reply",
              "displayName": "Draft Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        64
      ],
      "id": "418f14ab-1ad7-4f00-bd05-f2d6a6837a02",
      "name": "Update status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twmxeUbOfErGsbbM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.From }}",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json['Draft Reply'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        -240
      ],
      "id": "f1e2f1de-c535-43c7-978d-f9d5b0bd8cf5",
      "name": "Send Reply",
      "webhookId": "5c3fa11d-f98d-446b-bc1d-d084910db304",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XNYGaBFEcVkLMju",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo",
          "mode": "list",
          "cachedResultName": "AI Email Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17fTawTaC4SGPCrVqtwYsUpRX4czX1uvFANc52LDDBOo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "auto reply sent",
            "Timestamp": "={{ $json.Timestamp }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Draft Reply",
              "displayName": "Draft Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        -80
      ],
      "id": "c937157a-7488-4a11-b746-105b801cb43e",
      "name": "Update status1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twmxeUbOfErGsbbM",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Parse Gmail content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summay of Mail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Draft reply to be sent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gmail content": {
      "main": [
        [
          {
            "node": "Summay of Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summay of Mail": {
      "main": [
        [
          {
            "node": "Parsed Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed Summary": {
      "main": [
        [
          {
            "node": "Draft reply to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft reply to be sent": {
      "main": [
        [
          {
            "node": "Parsed reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed reply": {
      "main": [
        [
          {
            "node": "Store data in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store data in sheet": {
      "main": [
        [
          {
            "node": "Decide to sent autoreply or not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide to sent autoreply or not": {
      "main": [
        [
          {
            "node": "get data from sheet to send auto reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get data from sheet to send auto reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de11a941-6793-453f-930b-a95bc7a0cbe2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc74f12774e3871a4e36f0d67c6934d039e29c5abcb25a6144d9e7b521426c15"
  },
  "id": "UMkIBdlcx98nkpe9",
  "tags": []
}